apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app.kubernetes.io/name: MyApp
spec:
  containers:
    - name: myapp-container
      imagePullPolicy: IfNotPresent
      image: busybox:latest
      command: ['sh', '-c', 'cat /etc/myapp-pod/logs.txt && sleep 3600']
      volumeMounts:
        - name: config-vol
          mountPath: /etc/myapp-pod

  initContainers:
    - name: init-myservice
      imagePullPolicy: IfNotPresent
      image: busybox:latest
      command: ['sh', '-c', 'echo "Hello World" > /etc/myapp-pod/logs.txt']
      volumeMounts:
        - name: config-vol
          mountPath: /etc/myapp-pod

  volumes:
    - name: config-vol
