apiVersion: v1
kind: Pod
metadata:
  name: my-first-pod
  labels:
    app: nginx
    tier: frontend
spec:
  containers:
    - name: nginx-container
      image: nginx:1.25
      ports:
        - containerPort: 80
          protocol: TCP

